body {
  background-color: #fafafa;
  color: #1d1d1d;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
}

p, ol, ul,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
}

.top {
  background: #1d1d1d;
  color: #0ecc5f;
  padding: 0.5rem 1rem;
}

.top h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.app {
  padding: 1rem;
}

.section .title h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.section .content {
  background: #fff;
  border: 0;
  border-radius: 0.5rem;
  margin-top: 0.6rem;
  padding: 1rem;
}

.section form .actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.section form .actions button {
  background: #fafafa;
  border: 0.1rem solid #1d1d1d;
  border-radius: 0.2rem;
  color: #1d1d1d;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.6rem 1rem;
}

.section form .actions button:hover {
  border-color: #0ecc5f;
  color: #0ecc5f;
}

.section form .item {
  background: #fff;
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}

.section form .input {
  align-items: start;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.section form .input.grow {
  flex-grow: 1;
}

.section form .input:not(:first-child) {
  padding-left: 0.2rem;
}

.section form .input:not(:last-child) {
  padding-right: 0.2rem;
}

.section form label {
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.section form input[type="text"],
.section form input[type="number"],
.section form select {
  background: #fff;
  border: 0.1rem solid #dcdcdc;
  border-radius: 0.2rem;
  box-sizing: border-box;
  padding: 0.2rem 0.4rem;
  width: 100%;
}

.section form input[type="number"] {
  max-width: 6rem;
}

.section form .item-actions {
  display: flex;
  flex-direction: row;
}

.section form .item-actions button {
  background: none;
  border: none;
}

.section form .item-actions button span {
  display: none;
}

.section form .item-actions .icon {
  width: 20px;
}

.section form .item-actions button:hover {
  color: #0ecc5f;
  cursor: pointer;
}

.section form .item-actions button:hover svg {
  fill: #0ecc5f;
}
